.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(46, 133, 190);
    height: 75px;
    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-family: sans-serif;
        margin-right: 20px;
    }
}