.menu-hamper {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    li {
        //margin-left: 20px;
        margin-right: 20px;
    }
}

.item-hamper {
    display: flex;
    align-items: center;
    list-style: none;
    border: 1px solid green;
    width: 80px;
    /* li {
        display: flex;
        align-items: center;
        width: 100px;
        //margin-left: 10px;
        //margin-right: 10px;
        border: 1px solid green;
    } */

    i {
        margin: auto;
        padding: 5px;
        border: 1px solid orange;
    }
}

@media (max-width: 414px) {
    .menuHamper {
        li:nth-child(1),li:last-child {
            width: 50px;
        }
        li:nth-child(4){
            width: 60px;
        }
        li {
            //margin-left: 20px;
            margin-right: 5px;
        }
    }
}